.orderCardContainer{
    display: block;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    cursor: pointer;
    transition: width 1s;
}
.orderCardContainer:hover{
    width: 55%;
}

.smallOrderCardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderCardDate {
    font-weight: 700;
    margin-right: 3rem;
}

.orderCardImage{
    width: 30px;
    height: 30px;
}